<h1>Create a new customer</h1>

<%= form_for @customer, url: {action: "create"} do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= collection_select(:customer, :referring_customer_id, Customer.all, :id, :name, :prompt => true) %>

  <%= f.submit "Create" %>
<% end %>

<a href="/customers">Cancel</a>